.icon--design-for-love {
	width: 1411px;
	height: 118px;
}

.icon--dna {
	width: 58px;
	height: 15px;
}

.icon--shinteck {
	width: 132px;
	height: 32px;
}

.icon--moca {
	width: 80px;
	height: 28px;
}

.icon--xplace {
	width: 84px;
	height: 27px;
}

.icon--websolute {
	width: 164px;
	height: 32px;
}

.icon--letter-0 {
	width: 244px;
	height: 382px;
}

.icon--letter-1 {
	width: 420px;
	height: 402px;
}

.icon--letter-2 {
	width: 394px;
	height: 382px;
}

.icon--letter-3 {
	width: 251px;
	height: 382px;
}

.icon--ws {
	width: 40px;
	height: 40px;
}

.icon--love {
	width: 1371px;
	height: 402px;
}
