@import '_variables/grid';
@import 'fonts';
@import 'mixins';
@import 'components/reset';
@import 'components/base';
@import 'components/typography';
@import 'components/grid';
@import 'components/icons';

.page {
	display: block;
	position: relative;
	width: 100%;
	min-height: 100vh;
	max-width: 1920px;
	margin: 0 auto;
	overflow: hidden;
	opacity: 0;

	&.smooth-scroll {
		position: fixed;
		top: 0;
		left: 50%;
		width: 100%;
	}

	.view {
		position: relative;
		min-height: 100vh;
		opacity: 0;
	}

}

header {
	margin-top: 110 / 1920 * 100vw;

	@include media-breakpoint-down(sm) {
		margin-top: 80px;

		.icon--ws {
			width: 25px;
			height: 25px;
		}
	}
}

footer {
	margin-top: 60 / 1920 * 100vw;
	margin-bottom: 60 / 1920 * 100vw;
}

.section--hero {

	.container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		min-height: 666 / 1920 * 100vw;
		margin-bottom: 264 / 1920 * 100vw;
	}

	@include media-breakpoint-down(sm) {

		.container {
			min-height: calc(100vh - 105px);
			margin-bottom: 0;
		}

		.title--hero {
			font-size: 69.5px;
			line-height: 0.95;
			margin-top: -1.5em;

			sup {
				font-size: 42px;
				margin: 0;
				transform: translateY(2px) translateX(-12px);
				display: inline-block;
				position: relative;
			}
		}

	}

	@media (min-width: 1920px) {

		.title--hero {
			width: 93%;
		}

	}
}

.section--letter {
	margin-top: 118 / 1920 * 100vw;
	margin-bottom: 118 / 1920 * 100vw;

	.icon--letter-0,
	.icon--letter-1,
	.icon--letter-2,
	.icon--letter-3 {
		width: 100%;
		height: auto;
	}

	@media (max-width: 1023px) {
		.letter {
			margin-top: 45px;
			margin-bottom: 45px;
		}

		.letter-0 {
			svg {
				width: 244px * 0.6;
			}
		}

		.letter-1 {
			text-align: right;

			svg {
				width: 420px * 0.6;
				transform: translateX(50%);
			}
		}

		.letter-2 {

			svg {
				width: 394px * 0.6;
				transform: translateX(-40%);
			}
		}

		.letter-3 {
			text-align: center;

			svg {
				width: 251px * 0.6;
			}
		}

	}

	@media (min-width: 1024px) {

		.container {
			display: flex;
		}

		.letter-0 {
			margin-right: 100 / 1410 * 100%;
			width: 244 / 1410 * 100%;
		}

		.letter-1 {
			margin-left: 264 / 1410 * 100%;
			margin-right: 100 / 1410 * 100%;
			width: 420 / 1410 * 100%;
		}

		.letter-2 {
			margin-left: -30 / 1410 * 100%;
			width: 394 / 1410 * 100%;
			order: 2;
		}

		.letter-3 {
			margin-left: 144 / 1410 * 100%;
			margin-right: 45 / 1410 * 100%;
			width: 251 / 1410 * 100%;
			order: 2;
		}

		.group--content--0 {
			width: 580 / 1410 * 100%;
		}

		.group--content--1 {
			width: 730 / 1410 * 100%;
		}

		.group--content--2 {
			width: 730 / 1410 * 100%;
			order: 1;
		}

		.group--content--3 {
			margin-left: 350 / 1410 * 100%;
			width: 620 / 1410 * 100%;
			order: 1;
		}

	}

}

.section--design-for-love {

	.container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		min-height: 646 / 1920 * 100vw;
		margin-top: 204 / 1920 * 100vw;
		// margin-top: 850 / 1920 * 100vw;
	}

	.icon--love {
		width: 97%;
	}

	.icon--design-for-love {
		position: absolute;
		width: 100%;
		top: 50%;
		left: 50%;
		transform: translateX(-50%) translateY(-50%);
	}

	.title--hero {
		position: absolute;
		width: auto;
		top: 50%;
		left: 50%;
		transform: translateX(-51.5%) translateY(-43%);
		white-space: nowrap;

		b {
			color: #ee4840;
		}

		sup {
			right: -2.5vw;
		}
	}

	@include media-breakpoint-down(sm) {

		.container {
			min-height: 50vh;
			margin-top: 0;
		}

		.title--hero {
			width: auto;
			font-size: 6.75625vw;
		}
	}

	@include media-breakpoint-down(xs) {
		.title--hero {
			font-size: calc((100vw - 80px) * 0.1);
		}
	}
}

.nav--footer {
	display: flex;
	width: 100%;
	justify-content: space-between;
	align-items: center;

	.nav--footer__item {
		display: flex;
		align-items: center;

	}

	@include media-breakpoint-down(sm) {
		flex-direction: column;

		.nav--footer__item {
			margin-bottom: 35px;
		}
	}
}

[title] {
	position: relative;
	overflow: hidden;

	&:not(.words) {
		visibility: hidden;
	}

	.word {
		display: inline-block;
	}
}

[title-hero],
[title-footer] {
	position: relative;

	.char {
		display: inline-block;
	}
}
