$grid-columns: 12 !default;
$grid-gutter-widths: (xs: 20px,
	sm: 30px,
	md: 30px,
	lg: 30px,
	xl: 30px) !default;
$grid-breakpoints: (xs: 0,
	sm: 860px,
	md: 1024px,
	lg: 1440px,
	xl: 1830px) !default;
$container-max-widths: (sm: 73.4375vw,
	md: 73.4375vw,
	lg: 73.4375vw,
	xl: 1410px) !default; // calc(100vw - 240px)) !default;
